{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "chrome": "140" },
        "bugfixes": true,
        "modules": false,
        "useBuiltIns": false
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "classic",
        "pragma": "DOM.element",
        "pragmaFrag": "DOM.fragment"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": []
}
